<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Link CSS file -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<style>
  .table td,
  .table th {
    padding: 4px;
  }
</style>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create">Create User</a>
  </div>

  <div class="container mt-5 flex-column">
    <h3 class="text-info mb-3">Danh sách người dùng</h3>


    <div class="table-responsive table-responsive-lg">
      <table class="table bg-white rounded shadow-sm table-hover">
        <thead>
          <tr>
            <th scope="col" width="50">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">City</th>
            <th scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <th scope="row">
                <%= data[i].id %>
              </th>
              <td>
                <%= data[i].email %>
              </td>
              <td>
                <%= data[i].name %>
              </td>
              <td>
                <%= data[i].city %>
              </td>
              <td>
                <button class="btn btn-sm btn-outline-info">
                  Sửa
                </button>
                <button class="btn btn-sm btn-outline-danger">
                  Xoá
                </button>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>